
.reg-main {
  margin-top: 80px;
  background-image: url('https://bloomoodimg.s3.eu-north-1.amazonaws.com/climbing-removebg-preview.png');
  background-repeat: repeat-x;
  border-radius: 7px;
  justify-content: center;
  /* align-items: center; */
  z-index: 10000;
  height: 100vh;
}
.register{
  position: relative;
top: 175px;
left: 150px;
  width: 500px;
  z-index: 0;
  border: solid 1px black;
  height: 650px;
}
h2 {
  margin: 15px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
  z-index: 0;
}
.input-container-profile {
    display: flex;
    justify-content: center;
  }
.input-container-profile > .lastname {
  padding-left: 10px;
  font-size: 15px;
  width: 168px;
  max-width: 75%;
  height: 15px;


}
.input-container-profile > .firstname {
  padding-left: 10px;
  font-size: 15px;
  width: 168px;
  max-width: 75%;
  height: 15px;

}
.input-container-address{
    display: flex;
    justify-content: center; /* Distribute space between inputs */
}
.input-container-address > .street {
    padding-left: 10px;
    height: 15px;
    font-size: 15px;
  width: 168px;


}
.input-container-address > .number {

    padding-left: 10px;
    font-size: 15px;
  width: 168px;
  height: 15px;
  
}
.input-container-address-line-2{
    display: flex;
    justify-content: center; /* Distribute space between inputs */
}
.input-container-address-line-2 > .city {
    padding-left: 10px;
    margin-top: 20px;
    font-size: 15px;
  width: 168px;
  height: 15px;


}
.input-container-address-line-2 > .postcode {
    padding-left: 10px;
    font-size: 15px;
  width: 168px;
    margin-top: 20px;
    height: 15px;

}
.input-container-address-line-3{
    display: flex;
    justify-content: center; /* Distribute space between inputs */
}
.input-container-address-line-3 > .country {
    color: grey;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
    height: 36px;
width: 368px;
height: 25px;

}
.reg-button {
  position: relative;
  font-size: 15px;
  width: 250px;
  height: 40px;
  top:40px;
  left: 120px;
}
.eye-icon {
  position: relative;
  bottom: 21px;
  left: 380px;
  width: 50px;
}
.input-label-email {
  font-size: 13px;
  position: relative;
 right: 140px;
  font-size: 13px;
}
.input-label-password {
  font-size: 13px;
  position: relative;
  right: 152px;
  font-size: 13px;
}
.input-label-first-name{
    position: absolute;
    font-size: 13px;
    right: 370px;
    bottom: 432px;
}
.input-label-last-name{
    position: absolute;
    font-size: 13px;
    right: 188px;
    bottom: 432px;
}
.input-label-street{
    position: absolute;
right: 397px;
    font-size: 13px;
  
}
.input-label-house-number{
    position: absolute;
left: 250px;

    font-size: 13px;
  
}
.input-label-city{
    position: absolute;
left: 70px;
top: 283px;
    font-size: 13px;
  
}
.input-label-post-code{
    position: absolute;
left: 252px;
top: 282px;
    font-size: 13px;
  
}
.input-label-country{
  position: absolute;
  left: 252px;
  top: 282px;
      font-size: 13px;
}
.pass, .ema{
    padding-left: 10px;
    /* margin-bottom: 20px; */

    width: 350px;
    height: 5%;

}
.error-messages > ul> li{
  list-style-type: none;
  color: red;
  font-size: 13px;
}
.error-messages{
text-align: center;
position: relative;
top: -50px;
right: 450px;
}
.already-reg{
  text-align: center;
  width: 350px;
  border: solid 1px black;
  height: 150px;
  position: relative;
  bottom: 300px;
 left: 70%;
}
.already-reg>p{
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}
.already-reg > button {
  font-size: 15px;
  width: 250px;
  height: 40px;
  top:40px;
  left: 120px;
}