.forgot-container{
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.447);
   margin: auto;
   margin-top: 150px;
    text-align: center;
    border: solid 1px black;
}
.forgot-input{
    width: 500px;
    height: 25px;

    margin-top: 30px;
    padding-left: 10px;
    font-size: 20px;

}
.forgot-button{
    width: 500px;
    height: 40px;
    margin: 30px;
    font-size: 20px;
}
.forgot-email{
    position: relative;
top: 27px;
right: 208px;
}
h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.3em;
    text-align: center;

}